body{ /* This is to create adequate margins so white space is minimalized*/
	margin-top: -15px;
	margin-bottom: -15px;
	font-family: sans-serif;
}
#menu{  /* This created the vertical menu which will be overriden*/
	overflow: auto;
	background: #333;
	list-style-type: none;
	margin-left: -7px;
	margin-right: -5px;

}
#menu li a,input {  /* This sets the color for the elements in the menu bar */
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;

}
#menuAlternate{  /* This sets the alternate menu and sets it to be hidden until login pressed*/
	display: none;
	overflow: auto;
	background: #333;
	list-style-type: none;
	margin-left: -7px;
	margin-right: -5px;

}
#menuAlternate li a,input {  /* This sets color for elements in alternate menu bar*/
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;

}
#aboutText  /* This is the text for the about me paragraphs*/
{
	width: 90%;
	float: left;
	margin-top: -20px;
	margin-left: 10px;
}
.backImage  /* The User profile for when the user is logged in*/
{
	border: 5px solid black;
	display: none;
	margin-top: -17px;
	margin-left: -5px;
	margin-right: 0px;
	overflow: hidden;
}
#backImageAlternate  /* The default user profile that shows the users*/
{
	margin-top: -15px;
	border: 5px solid black;
	margin-left: 5px;
	margin-right: 0px;
	overflow: hidden;
}
#backImageAlternate .user  /* Fills the individual picture and information as the width of page*/
{
	width: 100%;
	float: left;
}
.text_left  /* rerpresents the headshot of face in left of text*/
{
	width: 40%;
	float: left;
}
.text_left img  /* sets width of image in profile as filling 70% of the div*/
{
	width: 70%;
	border-radius: 50%; 
}

.text_right  /* sets the information in user profile column as 60% of the overall width*/
{
	width: 60%;
	float: left;
}
.text_right .userInfo /* sets the listing of user traits without the use of bullets*/
{
	list-style: none;
}
#headshots  /* This is the headshot of image for individual profile and has bordering */
{
	float: left;
	border-radius: 8px;
	border: 2px solid black;
	width: 25%;
	margin-left: 25px;
	margin-top: -10px;
	
}
.menub /*represents the search bar alignment which is sent to be in right side*/
{
	margin-left: 35%;
	margin-right: 35%;
	color: black;
}

#infoList /* represents alignment of user traits in the personal profile */
{
	list-style-type: none;
	float: left;
	position: relative;
	margin: -20px;
	width: 40%;
	height: 300px;
}

footer { /* proper allignment of the footer and changes in height and text alignment */
	position: relative;
	margin-top: -20px;
	margin-bottom: -10px;
	/* negative value of footer height */
	height: 24px;
	clear: both;
	background-color: gray;
	margin-right: -6px;


	text-align: center;
	font-weight: bold;

}
#content { /* Is the div for the news container*/
	clear: both;
}

#menu li a:hover { /* Is the coloring for menu based on hover*/
	background-color: gray;
}
#menuAlternate li a:hover { /* Is the coloring for alternate menu based on hover*/
	background-color: gray;
}

.imgPost /* Sets width of div for article image and author posting*/
{
	width: 20%;
	float:left;
}
.imgPostRight /* Sets the article information in line with the image post*/
{
	width: 70%;
	margin-left: 10px;
	float:left;
	margin-bottom: 30px;
}


div.story {
	clear: both;
	border-bottom: 1px solid #ccc;

}
/*
	float: left;
	width: 50px;
	text-align: center;
}*/
.story img { /* Is the setting of div properly with alignment*/
	float: left;
	width: 95%;
	min-height: 130px;
	margin-right: 10px;
}

#news { /* Sets overall news of div properly with alignment*/
	border: 1px solid #000;
	margin: 10px -10px 10px 0;
	padding: 5px 10px;
	overflow: auto;
}

.dateText /* proper alignment of date in article */
{
	float: right;
	width: 30%;
	margin-top: 25px;
	font-size: .8em;
	font-family: "Courier";
}

#news { /* alignment of news again but cascaded */
	margin-left: 20px;
}
.postInfo /* alignment of width of information to 100% of page*/
{
	width: 100%;
}
.postInfo a /* alignement of a link to the article of info*/
{
	float:left;
	font-size: .7em;
	margin-right:10%;
}

.postInfo img /*proper set of thumbs in post info */
{
	width: 20px;
	height: 20px;
	min-width: 10px;
	min-height: 10px;
	float:left;
	margin-right:10%;

}
.postInfo p /*proper description of likes and dislikes in postInfo */
{
	float:left;
	margin-top:-1px;
	margin-right:10%;
	font-weight: bold; 
	font-size: .8em;

}

.imagesContainer /* div for 5 movie reccomendations */
{
	width: 100%;
	float: left;
}
.imagesContainer img /* div for seperations of images for use and proper shading */
{
	width: 15%;
	padding: 2%;
	box-shadow: 1px 1px 1px #888888;
}
.imagesContainer img:hover /*transformation of image when hovered */
{
	transform: scale(1.4);
	transition: all 1s;
}
#secondContainer /* overall div for 5 movie reccomendations */
{
	text-align: center;
	background-color: rgba(44,52,57,.7);
	overflow: hidden;
}

@media all and (min-width: 768px) { /*restyling of html elements if width exceeds 768 pixels*/

	body{ /* reaallign body by overriding margins and etc*/
		margin-left: -15px;
		margin-top: -15px;
		margin-bottom: -15px;
		margin-right: 0px;
		font-family: sans-serif;
	}
	#menu{ 
		overflow: auto;
		background: #333;
		list-style-type: none;

	}
	#menu li a,input { /*allign menu items and allow for horizontal spacing */
		display: block;
		color: white;
		text-align: center;
		padding: 14px 30px;
		text-decoration: none;

	}
	#menuAlternate{ /*alligning of the alternate menu for user */
		overflow: auto;
		background: #333;
		list-style-type: none;

	}
	#menuAlternate li a,input { 
		display: block;
		color: white;
		text-align: center;
		padding: 14px 30px;
		text-decoration: none;

	}
	#aboutText /*resizing of about Me section in user profile to cover 30% of page and float to place in line*/
	{
		width: 30%;
		float: left;
		margin-top: -20px;
		margin-left: 10px;
	}
	.backImage
	{
		border: 5px solid black;
		margin-top: -17px;
		margin-left: 17px;
		margin-left: 10px;
		overflow: hidden;
	}
	#headshots
	{
		float: left;
		border-radius: 8px;
		border: 2px solid black;
		width: 20%;
		margin-left: 25px;
		margin-top: -10px;

	}
	#header {
		height: 125px;
	}

	#backImageAlternate .user /*resizing of div for user profiles to take up half the page.*/
	{
		width: 50%;
		float: left;
	}


	#header-left {
		float: left;
		width: 45%;
		padding-left: 10px;
	}

	#header-right {
		float: right;
		width: 50%;
		padding-top: 50px;
	}

	#header-right form {
		float: left;
		width: 50%;
	}

	#header-right p {
		float: right;
		width: 50%;
		margin-top: 0;
	}

	#primary-nav li {
		display: inline;
	}
	#commentBut
	{
		text-align: center;
		width: 20%;
		padding: 30px;
		margin-left: 150px;
		margin-bottom: -10px;
		margin-top: -15px;
		font-size: 1.3em;
		font-weight: bold;
	}

	#menu .menua{ /*float left for menu items so that menu is horizonatal*/
		float: left;
	}
	.menub /*tellling the search bar in menu to float right to allow proper spacing.*/
	{
		float:right;
		margin-left: 0%;
		margin-right: 5%;
	}
	#menuAlternate .menua{ /*float left for menu items so menu horizontal for alternate menu*/
		float: left;
	}

	#content {
		float: left;
		width: 99%;
	}
}