body{ /*setting margins and font for overall body*/
  margin-left: -15px;
  margin-top: -15px;
  margin-right: 0px;
  margin-bottom: -15px;
  font-family: sans-serif;
  margin-right: 0px;
}
#menu{ /*setting up menu for cases with smaller device use with fixing of margins to make elements fit*/
  overflow: auto;
  background: #333;
  list-style-type: none;

}

#menu li a,input { /*setting up the menu items properly*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;

}
#menu li:hover { /*allows for coloring of text when hovering*/
  background-color: gray;
}

#content { /*clears the content div that encompasses news articles*/
  clear: both;
}
#menub /* proper alignment of search bar properly*/
{
  margin-left: 35%;
  margin-right: 35%;
  color: black;
  float: right;
}

#menu li a:hover {
  background-color: gray;
}

.imgPost /* the div for image and author name*/
{
  width: 20%;
  float:left;
}
.imgPostRight /*the div for article date, text and title*/
{
  width: 70%;
  margin-left: 10px;
  float:left;
  margin-bottom: 30px;
}


.story { /*div for individual stories*/
  clear: both;
  border-bottom: 1px solid #ccc;

}

.story img { /*accessing article image in div*/
  float: left;
  width: 100%;
  min-height: 130px;
  margin-right: 10px;
}

#news { /*div holding 5 stories of hot news*/
  border: 1px solid #000;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  overflow: auto;
}
#newsa { /*div holding 5 stories of new news*/
  border: 1px solid #000;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  display: none;
  overflow: auto;
}
#newsb { /*div holding 5 stories of Most Viewed news*/
  border: 1px solid #000;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  display: none;
  overflow: auto;
}
#newsc { /*div holding 5 stories of Top Rated news*/
  border: 1px solid #000;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  display: none;
  overflow: auto;
}
#newsd { /*div holding 5 stories of Controversial news*/
  border: 1px solid #000;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  display: none;
  overflow: auto;
}

#secondary-nav { /* vertical alignment of buttons for news types*/
  margin: 0; padding: 0px;
  list-style: none;
}

.dateText /*text associated with date set to courier and margin set*/
{
  float: right;
  width: 30%;
  margin-top: 25px;
  font-size: .8em;
  font-family: "Courier";
}

#secondary-nav li { /*every li in the secondary menu is being set*/
  padding: 3px 10px 3px 0;
  border: 1px solid #000;
  border-right: #fff;
  background-color: #ddd;
}

#secondary-nav li a { /*the a hrefs are accessed in secondary navigation menu*/
  display: block;
  margin-left: 15px;
}

#secondary-nav li:hover {
  background-color: lightblue;
}
#commentBut:hover {
  background-color: lightblue;
}

#secondary-nav li.selected {
  background-color: #fff;
}

#commentBut /*the psuedo comment button that links to postArticle.html*/
{
  width:100%;
  padding: 3px 10px 3px 0;
  border: 1px solid #000;
  border-right: #fff;
  background-color: #ddd;
  display: block;
  margin-left: 15px;
  margin-top: -15px;
  text-align: left;
}
footer {
  position: relative;
  margin-top: -20px;
  margin-bottom: -10px;
  /* negative value of footer height */
  height: 24px;
  clear: both;
  background-color: gray;


  text-align: center;
  font-weight: bold;

}

#news {
  margin-left: 20px;
}
#newsa {
  margin-left: 20px;
}
#newsb {
  margin-left: 20px;
}
#newsc {
  margin-left: 20px;
}
#newsd {
  margin-left: 20px;
}
.postInfo /* set width for the likes, and a href div */
{
  width: 100%;
}
.postInfo a /*sets the text size for more about this article link*/
{
  float:left;
  font-size: .7em;
  margin-right:10%;
}

.postInfo img /*sets size of thumbs up and down image*/
{
  width: 20px;
  height: 20px;
  min-width: 10px;
  min-height: 10px;
  float:left;
  margin-right:10%;

}
.postInfo p /*text associated with likes*/
{
  float:left;
  margin-top:-1px;
  margin-right:10%;
  font-weight: bold; 
  font-size: .8em;

}


@media all and (min-width: 768px) { /* change of div and element layout if width greater or equal to 768*/
  #primary-nav li {
    display: inline;
  }

  #news {
    margin-left: 150px;
  }
  #newsa {
    margin-left: 150px;
  }
  #newsb {
    margin-left: 150px;
  }
  #newsc {
    margin-left: 150px;
  }
  #newsd {
    margin-left: 150px;
  }
  #commentBut /* psuedo button for linking to postArticle page */
  {
    text-align: center;
    width: 20%;
    padding: 15px;
    padding-bottom: 10px;
    margin-left: 150px;
    margin-bottom: -10px;
    margin-top: -15px;
    font-size: 1.3em;
    font-weight: bold;
  }


  #secondary-nav {
    position: absolute;
    width: 151px;
    margin-top: 30px;
    text-align: left;
  }

  #content-left {
    float: left;
    width: 99%;
  }
  #menu .menua{
    float: left;
  }

  #menub
  {
    float:right;
    margin-left: 0%;
    margin-right: 5%;
  }
}
