
.parallax {
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0%;
	width: 100%;
	outline-offset: 0%;
}

.paralla {
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding: 0%;
	outline-offset: 0%;
}
.backImage

{

	background-color: #1B1F23;

	box-shadow: transparent;

	box-sizing: border-box;





}

.jumbotron

{

	background: linear-gradient(rgba(132, 201, 104, .05), rgba(18, 16, 31, .4));

	background-origin: center;

	text-align: center;

}

#hfont

{

	font-family: 'Source Sans Pro', sans-serif;

	font-size: 5em;
	color: rgba(174, 169, 150, .6);

}

#hfonta

{

	font-family: 'Source Sans Pro', sans-serif;

	font-size: 1.5em;
	color: rgba(174, 169, 150, .6);

}

#headshots

{

	float: left;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;



}

.subbut

{

	background-color: gray;

	text-align: center;

}